<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="img/logo/lobiadmin-logo-16.ico" />
    <link rel="stylesheet" href="~/Content/lobi/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/lobi/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/lobi/css/login.css" />
    <script type="text/javascript" src="~/Content/lobi/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/lobi/js/bootstrap/bootstrap.min.js"></script>
    <link href="~/Content/Code_CSS_Here.css" rel="stylesheet" />
    <script src="~/Content/Code_JS_Here.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
