
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/Master.cshtml";
}

<!-- set background login page -->
<script>
    $(document).ready(function () {
        $('body').css('background-image', 'url("../Content/lobi/img/bg/bg.jpg")');
    });
</script>
<div class="login-wrapper fadeInDown animated">
    <form class="lobi-form login-form visible">
        <div class="login-header">
            Đăng nhập
        </div>
        <div class="login-body no-padding">
            <fieldset>
                <div class="form-group">
                    <label>Username</label>
                    <label class="input">
                        <span class="input-icon input-icon-prepend fa fa-user"></span>
                        <input type="text" id="username" name="username" placeholder="Username">
                        <span class="tooltip tooltip-top-left"><i class="fa fa-user text-cyan-dark"></i> Tên tài khoản</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <label class="input">
                        <span class="input-icon input-icon-prepend fa fa-key"></span>
                        <input type="password" id="password" name="password" placeholder="Password">
                        <span class="tooltip tooltip-top-left"><i class="fa fa-key text-cyan-dark"></i> Mật khẩu</span>
                    </label>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label class="checkbox lobicheck lobicheck-info lobicheck-inversed lobicheck-lg">
                            <input type="checkbox" name="remember_me" value="0">
                            <i></i> Remember me
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" id="btn_login" class="btn btn-info btn-block"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>